.ShopItem {
  padding: 40px 0;
  &:first-child {
    padding-top: 0;
  }

  .ShopItemImage {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
      transform: rotate(-24deg);
      margin-left: -16px;
    }
  }
  @media only screen and (max-width: 320px) {
    .ShopItemImage {
      height: 240px;
    }
  }

  .ShopItemName {
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
  }

  .ShopItemDescription {
    font-size: 13px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .ShopItemBot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartShopItemPrice {
    font-size: 18px;
    font-weight: 700;
  }
  .ShopItemAddToCart {
    cursor: pointer;
    background-color: #f6c90e;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    padding: 16px 20px;
    border-radius: 100px;
    transition: all 0.25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    &:hover {
      background-color: #f8d43f;
      box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
    }
  }

  .ShopItemAddToCart.NotActive {
    width: 46px;
    pointer-events: none;
    cursor: default;
  }

  @media only screen and (max-width: 480px) {
    .ShopItem {
      padding: 20px 0;
    }
  }
}
